/* Stylesheet by Ana Pandey*/
/* body */

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #CCCCCC;
    color: #333333;
    text-align: center;
    font-size: 18px;
    padding: 0px 25px;
}
h2,
h4 {
    color: #cccccc;
}
p {
    font-size: 1.3em;
    text-transform: capitalize;
    /* Capitalizes first letter of each word */
}
a,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    color:#3399ff;
}
img {
    width: 90px;
    margin: 10px 0px;
}
/* header */

header {
    margin: auto;
    font-family: 'Teko', sans-serif;
    text-shadow: 1px 0px 1px #3399ff;
}
/* footer */

footer {
    position: absolute;
    bottom: 0px;
    font-size: 80%;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}
/* main app area */

section {
    padding-top: 20px;
    background-color: #666666;
    color: #fff;
    box-sizing: border-box;
    /* makes the layout fluid */
    
    width: 30%;
    height: 450px;
    display: block;
    float: left;
    margin: 15px;
    box-shadow: 2px 2px 2px grey;
}
section:nth-of-type(2),
section:nth-of-type(3) {
    padding-top: 80px;
}
input {
    box-sizing: border-box;
    margin-top: 200px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 18px;
    font-size: 0.9em;
    color: #cccccc;
    background-color: #666666;
    color: #fff;
    border: 0.5px solid #999999;
}
/* bootstrap class toggle button*/
.toggle {   
    font-size: 180%;
    padding: 5px;
    text-shadow: 1px 1px 1px grey;
    color: brown;
    font-family: arial, sans-serif;
}
#toggle-button {
    background-color: #3399ff;
    width: 50px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px #333333;
    position: fixed;
    left: 20px;
    top: 510px;
}
#temp {
    font-size: 2.9em;
}
#wind,
#humidity {
    font-size: 90%;
    color: #3399ff;
}



/* -----------------media queries for smaller devices ----------------------------*/

@media only screen and (min-width: 100px) and (max-width: 500px) {
    body {
        padding: 0px;
        background-color: #666666;
    }
    header {
        display: none;
    }
    footer {
        position: relative;
    }
    section {
        float: none;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        box-shadow: none;
        border-right: none;
    }
    section:nth-of-type(2),
    section:nth-of-type(3) {
        padding-top: 0px;
    }
    img {
        margin: 0px;
    }
    input {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #temp {
        font-size: 200%;
        margin-top: 60px;
    }
    #toggle-button {
        top: 300px;
    }
    #wind,
    #humidity {
        font-size: 90%;
    }
}

/* -----------------media queries for medium devices ----------------------------*/

@media only screen and (min-width: 500px) and (max-width: 1300px) {
    body {
        padding: 0px;
    }
    section {
        box-sizing: border-box;
        margin: 5px;
    }
    input {
        box-sizing: border-box;
        width: 80%;
    }
    #toggle-button {
        left: 0px;
    }
    #temp {
        margin-top: 30px;
    }
}